%nav.navbar.navbar-default
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path} Synthesis
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => residents_path}
            Residents
            %span.sr-only (current)
        %li
          %a{:href => admissions_path} Admissions
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Others for Access
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => demographics_path} Demographics
            %li
              %a{:href => drugs_path} Drugs
            %li
              %a{:href => places_path} Places
            %li
              %a{:href => programs_path} Programs
            %li
              %a{:href => beds_path} Beds
            %li
              %a{:href => lockers_path} Lockers
      - if user_signed_in?
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Account", edit_user_registration_path
          %li= link_to "Sign Out", destroy_user_session_path, method: :delete
      - else
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Sign Up", new_user_registration_path
          %li= link_to "Sign In", new_user_session_path